__pycache__/
# zdroje bez volné licence: jen lokálně, do veřejného repa ne (odvozené 1bit verze v photos/ ano)
promo/postavili-to-01-jobs/photos/src/jobs_1984.*
promo/postavili-to-01-jobs/photos/src/apple_logo_1977.*
